// TODO:
// Refactor this code, use <header> tag instead.

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 75px;

  @media (max-width: $tablet) {
    padding: 30px 0;
  }

  .logo {
    align-items: center;
    display: flex;
    font-size: 26px;
    font-weight: 600;
    opacity: .85;

    @media (max-width: $tablet) {
      font-size: 18px;
    }

    &.router-link-exact-active {
      opacity: .85;
    }

    &:hover {
      text-decoration: none;
    }

    .icon-container {
      height: 35px;
      width: 35px;

      @media (max-width: $tablet) {
        height: 25px;
        width: 25px;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    p {
      margin-left: 15px;

      @media (max-width: $mobile) {
        margin-left: 10px;
      }
    }
  }

  a {
    color: $text-color;
    opacity: .5;
    text-decoration: none;
    transition: $transition;

    @media (max-width: $tablet) {
      font-size: 14px;
    }

    &:hover {
      @media (min-width: $tablet) {
        opacity: 1;
        text-decoration: underline;
      }
    }

    &.router-link-exact-active {
      opacity: 1;
    }

    &.coming-soon {
      opacity: 1;
      pointer-events: none;
      position: relative;

      span {
        opacity: .5;
      }

      &::after {
        bottom: 0;
        color: $blue;
        content: 'Coming soon!';
        font-size: 10px;
        left: 50%;
        position: absolute;
        text-align: center;
        transform: translate(-50%, calc(100% + 4px));
        width: 100%;
      }
    }
  }

  > div {
    align-items: center;
    display: flex;

    @media (max-width: $tablet) {
      display: none;
    }

    a + a {
    margin-left: 50px;

      @media (max-width: $tablet) {
        margin-left: 35px;
      }
    }
  }

  .mobile-nav-toggle {
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }
}

nav.mobile {
  align-items: flex-start;
  background: $elevation-1-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 5% 100px;
  position: fixed;
  width: 100%;
  z-index: 100;

  a + a {
    margin-left: 0;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
  }

  > div:not([class]) {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;

    a {
      font-size: 20px;
      opacity: 1;
      text-decoration: none;

      + a {
        margin-top: 30px;
      }

      &.coming-soon {
        &::after {
          left: 0;
          text-align: left;
          transform: translate(0%, calc(100% + 4px));
        }
      }
    }
  }
  
  .info {
    align-items: center;
    border: 1px solid $elevation-5-color;
    border-radius: $border-radius;
    display: flex;
    font-size: 14px;
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    width: 100%;

    > div {
      width: 100%;
    }

    .buttons {
      align-items: center;
      display: flex;
      margin-top: 15px;

      a {
        align-items: center;
        background: lighten($background-color, 10%);
        border-radius: $border-radius;
        display: inline-flex;
        color: $text-color;
        flex-direction: column;
        font-size: 13px !important;
        font-weight: 500;
        justify-content: center;
        padding: 20px;
        opacity: 1;
        width: 100%;

        + a {
          margin-top: 0;
          margin-left: 20px;
        }

        img {
          margin-bottom: 15px;
          width: 30px;
        }
      }
    }
  }

  .footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    a {
      font-size: 16px;

      + a {
        margin-top: 25px;
      }

      &.button {
        background: $purple;
        color: white;
        margin-top: 35px;
        opacity: 1;
        text-align: center;
        width: 100%;

        i {
          margin-right: 10px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}