/**
 *  Main SCSS file
 */

// Reset CSS, by Eric Meyer
@import './vendors/reset';

// Abstracts
@import './abstracts/variables';

// Base
@import './base/base';
@import './base/transitions';
@import './base/typography';

// Components
@import './components/button';
@import './components/checkbox';
@import './components/notification';
@import './components/select';

// Layout
@import './layout/container';
@import './layout/footer';
@import './layout/header';
@import './layout/main';

// Pages
// ...

// Vendors
// ...
